{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
    {#    <link rel="stylesheet"#}
    {#          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
</head>
<body>
{% block menu %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Biblioteca</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="active"><a href="/emprestimo/">Empréstimo</a>
                    </li>
                    <li role="presentation"><a href="/pessoa/">Pessoas</a></li>
                    <li role="presentation"><a href="/livro/">Livros</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% endblock %}
{% load rest_framework %}
{% block conteudo %}
    <div class="container-fluid">
        <h2>Empréstimo de livros</h2>

        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form" action="{% url 'emprestimo' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail2">Usuário</label>
                                <select class="form-control" name="usuario">
                                    <option></option>
                                    {% for usuario in usuarios %}
                                        <option name="{{ usuario.id }}"
                                                value="{{ usuario.id }}">{{ usuario.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail2">Pessoa</label>
                                <select class="form-control" name="pessoa">
                                    <option></option>
                                    {% for pessoa in pessoas %}
                                        <option value="{{ pessoa.id }}">{{ pessoa.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail2">Livro</label>
                                <select class="form-control" name="livro">
                                    <option></option>
                                    {% for livro in livros %}
                                        {% if not livro.emprestado %}
                                            <option value="{{ livro.id }}">{{ livro.nome }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <br/>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"
                                                                                 aria-hidden="true"></i>
                                    Adicionar
                                </button>
                            </div>
                        </div>
                </form>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <td>#ID</td>
                        <td>Usuário</td>
                        <td>Pessoa</td>
                        <td>Livro</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for emprestimo in emprestimos %}
                        {% if not emprestimo.devolvido %}
                            <tr>
                                <td>{{ emprestimo.id }}</td>
                                <td>{{ emprestimo.user }}</td>
                                <td>{{ emprestimo.pessoa }}</td>
                                <td>{{ emprestimo.livro }}</td>
                                <td>
                                    <form action="{% url 'emprestimo' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="pk" value="{{ emprestimo.pk }}">
                                        <button type="submit" class="btn btn-danger">
                                            <i class="fa fa-reply" aria-hidden="true"></i> Devolver
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
