{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
{% block menu %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Biblioteca</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="/emprestimo/">Empréstimo</a>
                    </li>
                    <li role="presentation"><a href="/pessoa/">Pessoas</a></li>
                    <li role="presentation" class="active"><a href="/livro/">Livros</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% endblock %}
{% load rest_framework %}
{% block conteudo %}
    <div class="container-fluid">
        <h2>Cadastro de Livros</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form" action="{% url 'livro' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-6 col-md-8">
                            <div class="form-group">
                                <label for="exampleInputEmail2">Livro: </label>
                                <input type="text" class="form-control" name="nome">
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <br/>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <td>id</td>
                        <td>Livro</td>
                        <td>Emprestado?</td>
                    </tr>
                    </thead>
                    {% for livro in livros %}
                        <tbody>
                        <tr>
                            <td>{{ livro.id }}</td>
                            <td>{{ livro.nome }}</td>
                            {% if livro.emprestado %} <td>Sim</td> {% else %} <td>Não</td>{% endif %}
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>