<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block menu %}
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Empréstimo</a></li>
        <li role="presentation"><a href="#">Pessoas</a></li>
        <li role="presentation"><a href="#">Livros</a></li>
    </ul>
    <hr/>
{% endblock %}
</body>
</html>